@import "components/_variables";
@import "components/_typography.less";
@import "components/_carousel.less";


body {
     background-image: url('../img/waves.png');
     font-family: @body-copy;
     font-size: @base-font-size;
     line-height: @base-line-height;
     color: @primary-text;
   }

   .header .container {
     background: @primary-background;
     padding-left: 0;
     padding-right: 0;
}

.header {
     padding: (@padding * 4) 0;
 }

.main-nav {
     line-height: 36px; // vertical center with logo
}

.main-nav ul {
     margin-bottom: 0;
}

.main-nav li.divider {
     color: @grey;
}

.main-nav a {
     text-decoration: none;
}

.main-nav a:hover {
     border-bottom: (@border-size * 5) @border-type @grey;
     transition: border-color 0.2s ease;
 }

 .footer {
     text-align: center;
     color: @inverse-text;
     padding-bottom: (@padding * 4);
}

.footer .container {
     background: @inverse-background;
     padding: (@padding * 4) 0;
}

 .social-media {
       padding: @padding 0;
}

// space out social media icons and change link color
   .social-media a {
     padding: 0 (@padding - 0.5);
     color: @white;
   }
   // hover link color for social media icons
   .social-media a:hover {
     color: @grey;
   }

 // here - allows image to go right to the edge
   .public-banner .col-lg-12 {
     padding-left: 0;
     padding-right: 0;
   }

.public-banner img {
     width: 100%;
     height: auto;
}

 // add some padding around the about headline
   .home-about {
     padding: (@padding * 4) 0 (@padding * 6) 0;
   }

   // center all items
   .home-food {
     text-align: center;
   }
 // add a little extra padding under images
   .home-food img {
     padding-bottom: @padding;
     margin-right: @margin;
     border-radius: 99999px;
   }

    // add review padding consistent with about
   .reviews {
     padding: (@padding * 4) 0 (@padding * 6) 0;
   }

   .page-body {
     padding: (@padding * 4);
}

  h2 {
     font-weight: 900;
}
   .large {
     font-size: (@font-size * 4);
}


   .about-social-media {
     margin: (@margin * 2) 0;
     font-size: (@font-size * 2);
}

 h3 {
     font-weight: 700;
     color: @red1;
}

h4 {
     line-height: 1.5
}

.page-header {
     padding-bottom: (@padding * 1.5);
     margin: @margin 0;
     border-bottom: (@border-size * 5) @border-type @border-color;
}

.price {
     color: @red1;
     font-weight: 700;
}



/*
02. LAYOUT
Styles specific to your layout or website
*/
