@import "components/_variables";
@import "components/_typography.less";
// @import "components/_form-validation.less";

body {
     background: @primary-background;
     font-family: @body-copy;
     font-size: @base-font-size;
     line-height: @base-line-height;
     color: @primary-text;
   }

   .header .container {
     background: @primary-background;
     padding-left: 0;
     padding-right: 0;
}

.header {
     padding: (@padding * 4) 0;
 }

.main-nav {
     line-height: 36px; // vertical center with logo
}

.main-nav ul {
     margin-bottom: 0;
}

.main-nav li.divider {
     color: @grey;
}

.main-nav a {
     text-decoration: none;
}

.main-nav a:hover {
     border-bottom: (@border-size * 5) @border-type @grey;
     transition: border-color 0.2s ease;
 }

/*
02. LAYOUT
Styles specific to your layout or website
*/

   .red1 {
     color: @red1;
}
   .red1-bg {
     background: @red1;
}
   .red2 {
     color: @red2;
}
   .red2-bg {
     background: @red2;
}
