<div class="container">
     <!-- img banner //-->
     <div class="public-banner">
       <div class="row">
         <div class="col-lg-12">
           <img src="img/table.jpg" width="1170" height="500"
             alt="Public Restaurant About Banner">
         </div>
       </div>
     </div>
<%# page body%>
<div class="page-body">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="large">Great food, great people, good times.</h2>
    </div>
  </div>
</div>
