<div class="container-fluid">
     <div class="row">
       <div class="col-lg-12">
         <p style="text-align:center;"><img src="/img/dining.jpg" alt="" align="middle"></p>
         <p>This is a Bootstrap starter template built with Harp,
           Less, CSS, EJS, and HTML</p>
         <p>Made in Vancouver by <a
           href="http://instagram.com/townsend-trista">@townsend-trista</a></p>
      </div>
   </div>
</div>
